h2 {
    text-align: center;
}
.todolist {
    width: 400px;
    margin: 20px auto;
    padding-left: 10px;
    padding-top: 20px;
    background-color: white;
    .formInput {
        margin-bottom: 20px;
        width: 300px;
        height: 32px;
    }
    h3 {
        background-color: white;
    }
    li {
        background-color: white;
        line-height: 60px;
    }
}