<div class="demo">
  <div>
    <button class="button" (click) = "formclick1()">Form表单</button>
    <div [ngClass]="{'hide': flag1}">
      <app-form></app-form>
    </div>
  </div>

  <div>
    <button class="button" (click) = "formclick2()">绑定数据</button>
    <div [ngClass]="{'hide': flag2}">
      <app-news></app-news>
    </div>
  </div>
  <div>
    <button class="button" (click) = "formclick3()">图片-管道-判断-时间</button>
    <div [ngClass]="{'hide': flag3}">
      <app-home></app-home>
    </div>
  </div>
  <div>
    <button class="button" (click) = "formclick4()">例子</button>
    <div [ngClass]="{'hide': flag4}">
      <app-serach></app-serach>
    </div>
  </div>
  <app-todolist></app-todolist>
  <div>
    你好angular
  </div>
</div>