<div class="demo">
  <div>
    <button class="button" (click) = "formclick1()">Form表单</button>
    <div [ngClass]="{'hide': flag1}">
      <app-form></app-form>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div>
    <button class="button" (click) = "formclick2()">绑定数据</button>
    <div [ngClass]="{'hide': flag2}">
      <app-news></app-news>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div>
    <button class="button" (click) = "formclick3()">图片-管道-判断-时间</button>
    <div [ngClass]="{'hide': flag3}">
      <app-home></app-home>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div>
    <button class="button" (click) = "formclick4()">例子</button>
    <div [ngClass]="{'hide': flag4}">
      <app-serach></app-serach>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div>
    <button class="button" (click) = "formclick5()">服务</button>
    <div [ngClass]="{'hide': flag5}">
      <app-todolist></app-todolist>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div>
    <button class="button" (click) = "formclick6()">原生dom操作</button>
    <div [ngClass]="{'hide': flag6}">
      <app-home1></app-home1>
    </div>
  </div>
  <br>
  <hr>
  <br>
  
  <div>
    <button class="button" (click) = "formclick7()">原生dom操作</button>
    <div [ngClass]="{'hide': flag7}">
      <app-dom-view></app-dom-view>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div>
    <button class="button" (click) = "formclick8()">侧边栏动画</button>
    <div [ngClass]="{'hide': flag8}">
      <app-transition></app-transition>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div>
    <button class="button" (click) = "formclick9()">父传子</button>
    <div [ngClass]="{'hide': flag9}">
      <app-home-zujian></app-home-zujian>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div>
    <button class="button" (click) = "formclick9()">子传父</button>
    <div [ngClass]="{'hide': flag9}">
      <app-news-zujian></app-news-zujian>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div>
    <button class="button" (click) = "formclick10()">生命周期</button>
    <div [ngClass]="{'hide': flag10}">
      <app-lifecycle></app-lifecycle>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <app-request></app-request>
  
</div>