/* You can add global styles to this file, and also import other style files */
* {
    background-color: skyblue;
    margin: 0px;
    padding: 0px;
}
h1 {
    color: royalblue;
}

ul,ol {
    list-style-type: none;
}
body {
    width: 100%;
    overflow-x: hidden;
}